<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEMS - {{ page.title.title() }}</title>

    <!-- style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.min.css') }}">

    {% block page_css %}{% endblock %}

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/all.min.css') }}">


</head>

<body>

    <!-- blocks reserved to page modals -->
    {% block modals_block %}{% endblock %}

    <main class="home_grid">

        <div class="sidenav" id="sideNav">

            {% include "eventerx/sections/sidenav.html" %}

        </div>

        <div class="main_section">

            <div class="top_panel">

                {% include "eventerx/sections/top_panel.html" %}

            </div>

            <div class="main_content">

                <h1>{{ page.title.title() }}</h1>

                {% for category, message in get_flashed_messages(with_categories=True) %}
                    <div class="alert --{{category}}">
                        {{message}}
                    </div>
                {% endfor %}

                {% block main_content %}{% endblock %}

            </div>

        </div>

    </main>


    <!-- js scripts -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    {% block page_js %}{% endblock %}

</body>

</html>