.home_grid {
    overflow: hidden;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    // for tablets and larger devices
    @media screen and (min-width: $screen_md) {
        grid-template-columns: 1fr 19fr;
    }
}
